*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

body {
  margin-inline: auto;
  font-size: 1.6rem;
  font-family: 'Montserrat', sans-serif;
  line-height: 2rem;
  background-color: #252525;
}

/*////////////// First part ////////////// */

.background {
  
  background-image: url('assets/background.png');
  background-size: cover; 
}

.background2 {
  background-color: #000000;
}

#part1 {
  padding: 5.7rem 8.1rem;
}

#part1,
#part2,
#part3,
#part4,
footer {
  padding-inline: 8.1rem;
  max-width: 144rem;
  margin-inline: auto;

}

header {
  display: flex;
  align-self: center;
  justify-content: space-between;

  margin-bottom: 9rem;
}

.links {
  transition: .3s;
  display: flex;
  align-items: center;

  gap: 6rem;
}

.links a {
  line-height: 2.2rem;
  font-size: 1.8rem;
  text-decoration: none;

  transition: .3s;

  color: #FFFFFF;
}

.links a:hover {
  color: #5A5757;
}

header button {
  padding: 1rem 2.2rem 1rem 1.4rem;

  display: flex;
  gap: 1.5rem;
  align-items: center;

  background-color: #FFFFFF;

  cursor: pointer;

  font-weight: bold;
  color: #000000;

  line-height: 2rem;

  transition: .3s;
}

header button:hover {
  background-color: #5A5757;
  color: #ffffff;
}

main {
  display: flex;
  justify-content: space-between;
  gap: 4rem;
}

main p {
  max-width: 40rem;
  max-height: 24.6rem;
  font-size: 1.8rem;
  font-weight: normal;
  line-height: 2.2rem;

  color:#FFFFFF
}

main .card1 {
  display: flex;
  flex-direction: column;
  gap: 5.5rem;
}
.avatars {
  display: flex;
  align-items: flex-end;
  gap: .6rem;
}

.avatars p {
  font-weight: 400;
  line-height: 2.2rem;
}

.avatars span {
  font-weight: bold;
  font-size: 1.8rem;
}

main h1 {
  max-width: 57rem;
  text-align: left;
  font-weight: bold;
  font-size: clamp(.1rem, 3vw, 5rem);
  line-height: clamp(1rem, 4vw, 6.1rem);

  color: #FFFFFF;
}

main h1 span {
  color: #FF5B50;
}

#galery {
  margin-top: 12rem;
  display: flex;
  flex-direction: column;
  gap: 6rem;
}

#galery .grup2,
#galery .grup1 {
  display: flex;
  gap: 1.66rem;
  justify-content: center;
}

#galery img {
  width: 20vw;
  border: 1px solid #FFFFFF;
}

/*////////////// Second Part ////////////// */

#part2 {
  margin-inline: auto;
  padding-right: 0;

  display: flex;

  background-color: #000000;
  border-bottom: 1px solid #5A5757;
}

.informations {
  padding: 13.3rem 6.7rem 13.3rem 8.7rem ;
  display: flex;
  flex-direction: column;
  gap: 7rem;

  font-weight: 600;
  font-size: 2rem;
  line-height: 2.4rem;

  color: #5A5757;

  border-right: 1px solid #5A5757;
}

.informations span {
  font-size: 5rem;
  line-height: 6.1rem;
  color: #FFFFFF;
}

#part2 .about {
  width: 100%;
  margin-top: 8rem;
  display: grid;
  grid-template-areas: 'A B'
  'C C';
}

#part2 .spec1 {
  grid-area: A;
}

#part2 .spec2 {
  grid-area: B;
}

#part2 img {
  width: 100%;
  height: 100%;

  grid-area: C;
}

.about p {
  margin-left: 6.8rem;
  margin-right: 13.8rem;
  max-width: 40rem;

  font-weight: 400;
  font-size: 1.8rem;
  line-height: 2.2rem;

  color: #FFFFFF;
}

.about span {
  color: #FF5B50;
}

.about a {
  display: block;
  margin: 6.3rem 0 7.9rem 6.8rem;

  font-weight: 400;
  font-size: 1.8rem;
  line-height: 2.2rem;

  color: #FFFFFF;
}

/*////////////// Third part ////////////// */

#part3 {
  padding-top: 15rem;
  padding-inline: 8.7rem;
  background-color: #000000;
}

#part3 h2,
#part3 h2 span {
  font-weight: bold;
  font-size: 5rem;
  line-height: 6.1rem;
  
  color: #FFFFFF;
}

#part3 h2 span {
  color: #FF5B50
}

.highlights {
  margin-top: 17rem;
  display: grid;
  grid-template-areas: 'A B';
}

.highlights2 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  border-left: 1px solid #5A5757;
}

.astroNumber {
  margin-bottom: 4.4rem;

  display: flex;
  justify-content: space-between;

  color: #FFFFFF;
}

.astroNumber h3 {
  font-weight: 500;
  font-size: 3rem;
  line-height: 3.7rem;
}

.down {
  margin-top: 6.3rem;
}

.astronaut {
  width: fit-content;
}

.astroName {
  padding-right: 1rem;
  margin-bottom: 3.4rem;
  display: flex;
  justify-content: space-between;

  font-weight: 600;
  font-size: 2rem;
  line-height: 2.4rem;
  
  color:#5A5757
}

.astroName span {
  font-weight: 400;
  color: #FF5B50;
}

/*////////////// Fourth part ////////////// */

#part4 {
  padding: 0 8.7rem 14.7rem;
  
  background-color: #000000;
}

#part4 h2 {
  padding-top: 15rem;
  margin-bottom: 12rem;
  
  text-align: center;
  font-weight: bold;
  font-size: 5rem;
  line-height: 6.1rem;
  
  color: #FFFFFF;
}

#part4 span {
  color: #FF5B50;
}

.artists {
  display: grid;
  grid-template-areas: 'A B C'
  'D E F';
  gap: 4vw;
}

.artistContrast,
.artist {
  display: flex;
  align-items: center;
  justify-content: space-around;
  
  max-width: 35rem ;
  height: 15rem;
  background-color: #252525;
}

.artistContrast {
  background-color: #FF5B50;
}

#part4 .artistsInfo {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#part4 .artistsInfo a {
  text-decoration: none;
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.4rem;
  
  color: #FFFFFF;
}

#part4 .artistContrast h4,
#part4 .artistContrast span {
  color: #FFFFFF ;
}

.part4Footer {
  margin-top: 5.4rem;
  
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.3rem;
}

.part4Footer a {
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.4rem;
  
  text-decoration: none;
  
  color: #FFFFFF;
}

/*////////////// Footer ////////////// */

footer {
  padding: 8.2rem 0 6.8rem;
  background-color: #252525;
}

.FooterHeader {
  border-bottom: 1px solid #5A5757;
  padding: 0 8.4rem 6rem;
  
  display: flex;
  justify-content: space-between;
}

.FooterHeader button {
  width: 8rem;
  height: 8rem;
  
  background-color: #FF5B50;
  border: none;
  
  cursor: pointer;
}

.footerSpace {
  display: flex;
}

.footerSpace1 {
  border-right: 1px solid #5A5757;
  border-bottom: 1px solid #5A5757;
  
  padding: 6.7rem 6.2rem 8.2rem 8.4rem;
}

.footerSpace1 h2 {
  max-width: 35rem;
  
  font-weight: 500;
  font-size: 3rem;
  line-height: 3.7rem;
  
  color: #FFFFFF;
}

.footerSpace1 span {
  color: #FF5B50;
}

form {
  margin-top: 2.5rem;
  display: flex;
  align-items: center;
}

.footerSpace1 input {
  width: 28rem ;
  height: 6.6rem;
  padding: 2rem 2.5rem;
  
  border: none;
  
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.4rem;
  
  color: #5A5757;
  background-color: #000000;
}

form button {
  width: 12.2rem;
  height: 6.6rem;
  border: none;
  
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 2rem;
  line-height: 2.4rem;
  
  cursor: pointer;
}

.footerSpace2 {
  width: 100%;
  border-bottom: 1px solid #5A5757;
  
  padding: 7.4rem 8.4rem 5.3rem 0;
  padding-top: 7.4rem ;
  padding-bottom: 5.3rem;
  
  display: flex;
  justify-content: space-around;
  
}

.footerSpace2 ul {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  list-style: none;
}

.footerSpace2 ul li a{
  transition: .3s;
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.4rem;
  
  text-decoration: none;
  
  color: #5A5757;
}

.footerSpace2 ul li a:hover {
  color: #ffffff;
}

.footerSpace2 ul span {
  font-weight: bold;
  color: #FFFFFF;
}

.footerSpace3 {
  padding-inline: 8.4rem; 
  margin-top: 6.9rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footerSpace3 h4,
.footerSpace3 h4 a {
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.4rem;

  color: #5A5757;
}

.footerSpace3 .socialLinks {
  display: flex;
  gap: 5rem;
}
